@import url('https://fonts.googleapis.com/css?family=Nunito');

.dashboard-card {
    margin-bottom: 5px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    margin-left: 90%;
}

.card-body h1 {
    font-family: 'Nunito', sans-serif;
    color: #7f8184;
}

.card-show {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.btn-back {
    margin-left: 10px;
}

.alert-danger , .alert-success{
    margin-left: 10px;
    margin-right: 10px;
}

.btn-create {
    color: white !important;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Nunito', sans-serif;
    color: #7f8184;
}

.btn1{
    position: absolute;
}

.btn2{
    margin-top: -23px;
}

.btn-back2{
    margin-bottom: 10px;    
}